@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body > div:first-child {
  height: 100%;
}

/* Style for non-active menu items */
.ant-menu-item svg {
  fill: #4b4a4a !important;
}

/* Style for active menu items */
.ant-menu-item-selected svg {
  fill: #7a4bff !important;
}

.ant-menu {
  padding-top: 65px !important;
}

:where(.css-dev-only-do-not-override-1xjqmv2).ant-card .ant-card-actions {
  border-top: 0px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 8px 8px 0 0;
}

:where(.css-dev-only-do-not-override-1xjqmv2).ant-card .ant-card-meta-detail {
  display: flex;
}

:where(.css-dev-only-do-not-override-1xjqmv2).ant-card .ant-card-body {
  padding: 0 0 10px 10px;
  border-radius: 0 0 8px 8px;
}

:where(.css-dev-only-do-not-override-1xjqmv2).ant-card .ant-card-actions>li {
  margin: 0px 0px 10px 0px;
}

:where(.css-dev-only-do-not-override-1xjqmv2).ant-card .ant-card-cover img {
  border-radius: 16px 16px 0 0;
}

:where(.css-dev-only-do-not-override-1xjqmv2).ant-tabs-bottom >.ant-tabs-nav {
  order: 1;
  margin-top: 75px;
  margin-bottom: 0;
}
 /* polotno editor main container */
/* .go810943435 {
  display: flex;
  flex-direction: column-reverse;
} */

/* polotno editor canvas or workspace */
.go3456988929 {
  /* display: flex;
    height: 100%;
    width: 100%; */
    /* flex: 1; */
    /* flex-direction: column;
    position: relative; */
}

/* sidebar editor classes */
.go1236784588 {
  /* height: 16%;
  width: auto;
  max-height: 100vh; */
}

.go1621360228 {
  /* display: flex;
  justify-content: center;
  width: 100%; */
  /* height: 70% !important; */
  /* height: 300px;
  padding: 0px !important;
  position: relative; */
}

.go2939300030 .polotno-side-tabs-inner {
  /* display: flex;
  flex-direction: row !important;
  width: 600px; */
}

.saveButton {
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  left: 200px;
  bottom: -55px;
  background: #BF83FF;
  color: white;
}

/* For screens larger than extra small (xs) */
@media (min-width: 576px) {
  .tab-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .badge-content {
    display: flex;
    align-items: center;
  }
}
/* For screens extra small (xs) and below */
@media (max-width: 575px) {
  .tab-label {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .badge-content {
    margin-top: 8px; /* Adjust as needed for spacing */
  }
  .saveButton {
    position: absolute;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    left: 170px;
    bottom: 45px;
    background: #BF83FF;
    color: white;
  }
}

.custom-scroll-container {
  scroll-behavior: smooth;
}

.bp4-dark .polotno-side-tabs-container,
.bp4-dark .polotno-side-tabs-container {
  /* background-color: #0e0e20 !important; */
  background-color: #F5F5F5 !important;
  /* color: white !important; */
  color: #0a0a0a !important;
  border: none !important;
  outline: none !important;
  /* order: 2; */
  /* padding-bottom: 70px; */
  /* overflow: hidden; */
}

.bp4-navbar .polotno-panel-container {
  /* background-color: #161630 !important; */
  background-color: #F5F5F5 !important;
  color: #0a0a0a !important;
  border: none !important;
  outline: none !important;
  /* display: flex;
  height: 500px !important;
  width: 100% !important;
  flex: 1;
  order: 1;
  flex-direction: column; */
}

.bp4-navbar .polotno-side-tabs-inner {
  /* display: flex;
  flex-direction: row; */
}

.bp4-navbar {
  /* background-color: #161630 !important; */
  background-color: #F5F5F5 !important;
  color: #0a0a0a !important;
  border: none !important;
  outline: none !important;
  display: flex;
  /* height: 300px; */
  /* flex: 1;
  order: 1;
  flex-direction: column; */
}

.bp4-dark .bp4-button.bp4-minimal {
  color: #0a0a0a !important;
}

.bp4-dark .go1123280453 {
  /* right: -13px;
  top: 0; */
}

.setting-placeholder::placeholder {
  color: #0a0a0a !important;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}
.setting-placeholder {
  outline: none !important;
}

div .ant-table-wrapper .ant-table-thead > tr > th,
dv .ant-table-wrapper .ant-table-thead > tr > td {
  background: #5d5fef;
  color: white;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-radius: 0 !important;
  border: 0;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-radius: 0 !important;
}

.ant-table-container table > thead > tr:first-child ::before {
  width: 1px !important;
  height: 73px !important;
}

th.ant-table-cell {
  padding: 16px !important;
}

span.ant-select-selection-item {
  color: #666685 !important;
  font-weight: 600 !important;
}

span.ant-select-arrow {
  color: #666685;
}

.audience-btn.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
  background-color: none !important;
}

.story-placeholde::placeholder {
  color: #737791 !important ;
  font-size: 13px;
}
